<div style="text-align:center; margin-top:15%;"><h1 style="font-family:Impact; text-align:center;">☆LOTTERY SYSTEM☆</h1>
    <h3 style="text-align:center">Go For it!</h3>
    <div style="float:left; margin-right:30px; width:100px; height:100px"></div>
    <div style= "float:left; margin-right: 30px; border-radius:50%; border: 20px solid red; width:100px; height:100px; display:table-cell;vertical-align:middle; text-align:center"><h2><%= @iwantthisball_2 %></h2></div>
    <div style= "float:left;margin-right: 30px; border-radius:50%; border: 20px solid orange; width:100px; height:100px; display:table-cell;vertical-align:middle; text-align:center"><h2><%= @iwantthisball_2 %></h2></div>
    <div style= "float:left;margin-right: 30px;border-radius:50%; border: 20px solid yellow; width:100px; height:100px; display:table-cell;vertical-align:middle; text-align:center"><h2><%= @iwantthisball_3 %></h2></div>
    <div style= "float:left;margin-right: 30px;border-radius:50%; border: 20px solid green; width:100px; height:100px; display:table-cell;vertical-align:middle; text-align:center"><h2><%= @iwantthisball_4 %></h2></div>
    <div style= "float:left;margin-right: 30px;border-radius:50%; border: 20px solid blue; width:100px; height:100px; display:table-cell;vertical-align:middle; text-align:center"><h2><%= @iwantthisball_5 %></h2></div>
    <div style= "float:left;margin-right: 30px;border-radius:50%; border: 20px solid purple; width:100px; height:100px; display:table-cell;vertical-align:middle; text-align:center"><h2><%= @iwantthisball_6 %></h2></div>
</div>
